<div class="ms-5 mt-4 w-25">
  <%= simple_form_for(@airplane, html: { multipart: true }) do |f| %>
<<<<<<< HEAD
    <%= f.input :make %>
    <%= f.input :engines %>
    <%= f.input :tailnumber %>
    <%= f.input :ownership, placeholder: "Enter whether you are a flight school or a private owner" %>
    <%= f.input :minimum_hours %>
    <%= f.input :required_licenses, collection: ["Private Pilot", "Commercial Pilot"], input_html: { multiple: true } %>
    <%= f.input :description %>
    <%= f.input :home_airport, placeholder: "Enter the name of the airport.." %>
=======
    <%= f.input :make,
        required:true %>
    <%= f.input :engines,
        required:true %>
    <%= f.input :tailnumber,
        required:true %>
    <%= f.input :minimum_hours,
        required:true %>
    <%= f.input :required_licenses, collection: ["Private Pilot", "Commercial Pilot"], required:true %>
        <%# i cant add multiple true because the required license is a string and it not save %>
    <%= f.input :description,
        required:true %>
    <%= f.input :price_per_hour,
        required:true %>
    <%= f.input :home_airport, placeholder: "Enter the name of the airport..",
        required: true %>
>>>>>>> bbd899aa994040d83b61edc5a1c6c575e7d87b43
    <%= f.input :address,
      required: true ,
      input_html: {class: "d-none", data: {address_autocomplete_target: "address"}},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAP_BOX_KEY"]}}%>

    <% # Existing photos %>
      <%= f.simple_fields_for :photos_fields do |posts| %>
    <% @airplane.photos.each_with_index do |photo, index| %>
      <div class="mb-3">
        <%= cl_image_tag photo.key, class: "d-block w-100", crop: :fill %>
        <%= posts.check_box (photo.id).to_s, { value: photo.id } %>
        <%= posts.label :photos, "Save this photo" %>
      </div>
      <% end %>
    <% end %>


    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Create/Update plane", class: "btn btn-primary w-50 mt-3" %>
  <% end %>


</div>
