<div class="my_airplane_container">
  <h1 class= "text-center mt-5", style= "color:#173288">My hangar</h1>
    <div class="row justify-content-around mx-5">
      <% if params[:query].present? %>
          <% @airplanes = Airplane.search_by_make_and_engines(params[:query]) %>
      <% end %>
        <% @airplanes.each do |airplane| %>
            <div class="col-md-3 mt-4 mx-3">
              <div class="card text-center d-flex flex-column">
                <% if airplane.photos.attached? %>
                    <img src="<%= cl_image_path airplane.photos[0].key, height: 350, width: 400, crop: :fill %>" alt="Product Image">
                <% else %>
                    <img src="https://images.unsplash.com/photo-1604285861770-54cb117a3f5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="Product Image">
                <% end %>

                <h2 class="mt-1"><%= "#{airplane.make} #{airplane.tailnumber}" %> </h2>

                <p class="mt-1"><%= truncate("#{airplane.description}", length: 50) %></p>
                  <ul class="d-flex justify-content-center mt-2">
                    <li><i class="fa-solid fa-location-dot" style="margin-right:6px"></i><%= airplane.home_airport.upcase %></li>
                    <li><i class="fa-solid fa-dollar-sign" ></i> <%= airplane.price_per_hour %> /hour</li>
                  </ul>
                  <%= link_to "More Details", airplane_path(airplane), class: "mt-1 button-airplanes" %>
              </div>
            </div>
        <% end %>
    </div>
    <%= link_to "Create a new plane", new_airplane_path, class: "button-airplanes mt-4 mb-3", style: "width:30%;"%>
</div>
