<div class="container">
  <div class="d-flex justify-content-around border border-primary p-2 w-100">
    <span class="align-self-center">
        <div class="text-center">
          <%# <h2 class="rounded"><%= @user.photo.key </h2>   %>
          <p>Full name: <%= "#{@user.name} #{@user.last_name}"  %></p>
          <p>Contact email:<%= @user.email %></p>
          <% if @user.role == "Pilot" %>
            <p><%="Pilot license: #{@user.license}" %></p>
            <p><%="Total time in airplanes: #{@user.fly_hours}" %></p>
         <%end%>
        </div>
    </span>
  </div>
</div>
