

<div class="container-fluid py-4 bg-image-login">
  <div class="row align-items-center justify-content-center">
    <div class="container-2" style="max-width:400px;">
      <div class="col text-center mx-auto">
       <h1 class="mt-5 mb-4 text-white">Recover Account</h1>
      </div>

<div class="div2 px-5 py-4 div-shadow">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, "Recover", class: "btn-login w-50 mt-3 mb-3"%>
  </div>
<% end %>

<div class="d-grid text-center">
        <%= render "devise/shared/links" %>
      </div>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
