<div class="main navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top" style="top:0">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-brand ms-4">
      <%= link_to root_path do %>
        <%= image_tag("https://1000marcas.net/wp-content/uploads/2020/10/Proton-logo.png", alt: "Logo") %>
      <% end %>
    </div>
      <ul class="navbar-nav me-4">
        <% if user_signed_in? %>
        <li>
                  <div class="px-2 bg-transparent border-light search_bar rounded-pill shadow-sm m-0">
              <div class="input-group">
           <%= form_with url: "mailto:hi@tangobravo.com", method: :get, class: " d-flex search me-4  searching" do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control bg-transparent border-0 bg-light",
                  placeholder: "Search airports..."
                %>
              <%= submit_tag "S", class: "btn btn-link text-primary", id: "button-addon1"  %>
             <% end %>
                </div>
            </div>
          </li>
        <li class="nav-item  SMN_effect-48 w-25 mx-1">
            <%= link_to "Airplanes", airplanes_path, class: "nav-link text-light" %>
          </li>
          <% if current_user.role == "owner" %>
              <li class="nav-item  SMN_effect-48 w-25 mx-4">
              <%= link_to "My Airplanes", my_airplanes_airplanes_path, class: "nav-link text-light" %>
          </li>
           <% end %>
              <li class="nav-item  SMN_effect-48 w-25 me-4">
            <%= link_to "Contact", "", class: "nav-link text-light" %>
          </li>
          <li>
            <%= form_with url: airplanes_path, method: :get, class: " d-flex search me-4  searching" do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control me-2",
                  placeholder: "Enter a location"
                %>
              <%= submit_tag "Search", class: "btn btn-outline-light" %>
            <% end %>
          </li>


          <li class="nav-item dropdown ms-4 me-4">
            <%= image_tag "https://avatars.githubusercontent.com/u/102123472?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My planes", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Messages", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>


  <li>
                  <div class="px-2 bg-transparent  search_bar rounded-pill shadow-sm m-0">
              <div class="input-group">
           <%= form_with url: "mailto:hi@tangobravo.com", method: :get, class: " d-flex search me-4  searching" do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control bg-transparent border-0 ",
                  placeholder: "Search airports..."
                %>
              <%= submit_tag "S", class: "btn btn-link text-primary", id: "button-addon1"  %>
             <% end %>
                </div>
            </div>
          </li>


          </li>
          <li class="nav-item  SMN_effect-48">
            <%= link_to "Planes", airplanes_path, class: "nav-link text-light ms-4", id: "planes-link" %>
          </li>
          <li class="nav-item  SMN_effect-48 ms-4">
            <%= link_to "Contact", "mailto:hi@tangobravo.com", class: "nav-link text-light" %>
          </li>
          <li class="nav-item  SMN_effect-48 ms-4 me-5">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-light" %>
          </li>


        <% end %>
      </ul>
    </div>
  </div>
</div>


        <%# <li>
            <div class="px-2 bg-light search_bar rounded-pill shadow-sm">
              <div class="input-group">
                <input type="search" placeholder="Search airports..." aria-describedby="button-addon1" class="form-control bg-transparent border-0 bg-light">
                <div class="input-group-append">
                  <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
        </li> %>
