
<div class="image">
<div class="cover">
    <h1 class="mb-0">Discover airplanes near</h1>

    <%= form_with url: airplanes_path, method: :get, class: "d-flex home-search mb-2 flex-form" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control query-home",
        placeholder: "Enter your location"
      %>
      <%= submit_tag "Search", class: "search-v" %>
    <% end %>

  </div>
</div>
</div>

<div class="background">
  <div class="container">
    <div class="panel pricing-table">

      <div class="featured">
<svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 299.16 179.5"><defs><style>.cls-1{fill:#203d9d;}</style></defs><path class="cls-1" d="M197,161.33c-4.79,8.12-11,13.92-20.87,14.38s-15.63-7.13-22.82-12.53c-.89,1.25-1.61,2.09-2.14,3-8.25,14.81-23.24,17.61-35.83,6.48C103,161.79,90.63,150.84,78.61,139.57c-3.91-3.67-7.77-6-13.2-5.19-4,.58-5.52-.94-5.5-5.24q.26-47.22,0-94.44a7.77,7.77,0,0,1,3.92-7.38C73.92,20.8,83.77,14,93.85,7.48a42.92,42.92,0,0,1,36.3-5.4A36,36,0,0,1,134.39,4c-8.27,6.6-16.16,12.63-23.73,19-7.22,6.09-15.06,11.8-20.93,19C80,54.11,82.09,72.91,93.12,84.11c11.31,11.47,29.18,13.73,42,4.8,9-6.25,17.55-13.19,26.6-20,9,8.27,18,16.42,26.94,24.62q17.28,15.88,34.5,31.83c9.34,8.67,11.18,19.44,5,28.61-7,10.38-17.28,13.19-29.2,8C198.55,161.73,198.05,161.65,197,161.33Z"/><path class="cls-1" d="M239.1,117.47,175.16,58.61l7.72-6.11c5-4,6.12-8.37,3.07-12.4s-7.9-4.22-13.14-.1q-20.62,16.19-41.19,32.44c-5.56,4.42-11.34,7.47-18.81,5.33C105.68,75.71,101.63,71,99.8,64c-1.68-6.35.35-11.67,5.12-15.7C118.27,37.05,131.62,25.75,145.4,15c6.34-4.94,13.22-9.85,20.67-12.56,13.2-4.8,26.23-2.29,38.09,5.33q16.16,10.4,32.15,21.06c1.27.85,2.67,2.71,2.67,4.11C239.14,60.57,239.1,88.19,239.1,117.47Z"/><path class="cls-1" d="M255.1,84.71c0-16.33.17-32.66-.11-49-.08-4.56,1.39-5.58,5.7-5.44,9.82.32,19.65.07,29.48.09,6.74,0,8.9,1.89,8.92,8.48q.12,47.75,0,95.48c0,9.71-5.68,15.08-15.33,15.27-4.66.09-9.33.17-14,0-9.43-.42-14.62-5.91-14.64-15.37C255.07,117.7,255.1,101.21,255.1,84.71Zm29.59,42.65c0-4.71-3-7.72-7.78-7.68a7.75,7.75,0,0,0-7.83,7.36,7.63,7.63,0,0,0,7.76,7.87C281.68,135,284.64,132.17,284.69,127.36Z"/><path class="cls-1" d="M43.86,30.37V35q0,49.93,0,99.86c0,8.5-5.06,14.17-13.58,14.71a139.23,139.23,0,0,1-16.47,0C5.44,149.07.06,143.3.05,134.79Q-.06,86.87,0,38.94c0-6.34,2.14-8.52,8.31-8.56C20,30.32,31.6,30.37,43.86,30.37Zm-14,96.72c-.09-4.43-3.13-7.39-7.62-7.41-4.67,0-8.07,3.19-8,7.61,0,4.71,3.49,7.82,8.49,7.62A7.29,7.29,0,0,0,29.84,127.09Z"/></svg>
        <h5 class="pricing-header">No intermediaries</h5>
        <ul class="pricing-features">
          <li class="pricing-features-item">Directly contact the aircraft owner to discuss your rental</li>
          </ul>
      </div>
      <div class="featured">
      <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 178.78 239.22"><defs><style>.cls-1{fill:#203d9d;}</style></defs><path class="cls-1" d="M89.49,239.22c-7.74-9.1-15.22-17.55-22.33-26.29C47.28,188.46,28.71,163.07,14.09,135,5.72,119-1,102.31.13,83.64,2.82,39.36,36.61,4.74,80.79.44c46.82-4.54,85.7,26.34,95.55,66.87,5.15,21.18,1.9,40.91-7.47,60.06-17.84,36.51-42.24,68.5-68.39,99.28C97.06,230.68,93.52,234.61,89.49,239.22Zm.19-180A30.75,30.75,0,0,0,59.06,89.15c-.29,16.18,13.68,30.4,30,30.55,16.64.16,30.86-13.73,30.89-30.18C120,73.25,106,59.28,89.68,59.22Z"/></svg>        <h5 class="pricing-header">Location Based</h5>
              <ul class="pricing-features">
                <li class="pricing-features-item">Easily search for specific airplanes near you</li>
                </ul>
            </div>
      <div class="featured">
        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 269.39 239.97"><defs><style>.cls-1{fill:#203d9d;}</style></defs><path class="cls-1" d="M100.55,150.45c-1.89-.18-3.16-.42-4.43-.42-13.33,0-26.67-.17-40,.13a9.74,9.74,0,0,0-6.5,3.28c-6.08,7.51-11.57,15.48-17.64,23a9.93,9.93,0,0,1-6.44,3.41C17.28,180.25,9,180,0,180c2.73-11.13,5.23-21.44,7.79-31.73C9.44,141.64,10.91,135,13,128.45c1.94-6.19,1.18-12-.42-18.1C8.42,94.74,4.67,79,.79,63.36c-.19-.76-.22-1.57-.41-3,9.46,0,18.56-.17,27.65.17,1.52,0,3.25,2.09,4.4,3.58C38.34,71.71,44,79.54,50,87.14,51.05,88.52,53.06,90,54.66,90c14.5.22,29,.13,43.51.09a11.05,11.05,0,0,0,2.34-.61C92.07,60,83.68,30.59,75.11.62A45.44,45.44,0,0,1,79.78.08C91.62,0,103.45.14,115.29,0a6.3,6.3,0,0,1,6.34,3.65c15.4,27.07,31,54,46.34,81.13,2.19,3.87,4.54,5.64,9.27,5.53,15.33-.35,30.67-.14,46-.13,13.89,0,26.17,4.9,36.85,13.38,12.06,9.56,12.39,22.16.9,32.44-10.75,9.6-23.85,13.75-38.11,14-15.66.23-31.34.13-47,0-3.39,0-5.32.94-7.08,4.05-15.25,27-30.79,53.76-46.06,80.71-2.13,3.77-4.42,5.39-9,5.25-12.63-.37-25.29-.12-38.77-.12Z"/></svg>
        <h5 class="pricing-header">Trusted Airplanes</h5>
        <ul class="pricing-features">
          <li class="pricing-features-item">Read reviews from other pilots for individual airplanes</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center featured-p mt-4 mb-4">Featured Airplanes</h2>
<div class="d-flex justify-content-center mt-4">

<div class="card mx-auto text-center d-flex flex-column">
    <img src="https://images.unsplash.com/photo-1604285861770-54cb117a3f5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="Product Image">
    <h2 class="mt-1">Cessna Skycatcher </h2>
    <p class="mt-1"><%= truncate("Teledyne Continental Motors O-200-D 100HP carbuerated engine", length: 50) %>
</p>
    <ul class="d-flex justify-content-center mt-2">
     <li><i class="fa-solid fa-location-dot" style="margin-right:6px"></i>Boston Airport</li>
      <li><i class="fa-solid fa-dollar-sign" ></i> 250 /hour</li>
    </ul>
    <button class="mt-1">More Details</button>
  </div>

  <div class="card mx-auto text-center">
    <img src="https://images.unsplash.com/photo-1604285861770-54cb117a3f5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="Product Image">
    <h2 class="mt-1">Piper Seminole</h2>
    <p class="mt-1"><%= truncate("Two Lycoming IO-360-B1G6 fuel injected engines", length: 50) %></p>
    <ul class="d-flex justify-content-center mt-2">
      <li><i class="fa-solid fa-location-dot" style="margin-right:6px"></i>Los Angeles Airport</li>
      <li><i class="fa-solid fa-dollar-sign" ></i> 500 /hour</li>
    </ul>
    <button class="mt-1">More Details</button>
  </div>

   <div class="card mx-auto text-center">
    <img src="https://images.unsplash.com/photo-1604285861770-54cb117a3f5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="Product Image">
    <h2 class="mt-1">Cessna 172</h2>
    <p class="mt-1"><%= truncate("Skyhawk with traditional six pack. Lycoming IO-360 180HP fuel injected engine. 53 US gallons usable fuel capacity.", length: 50) %>
</p>
    <ul class="d-flex justify-content-center mt-2">
     <li><i class="fa-solid fa-location-dot" style="margin-right:6px"></i> New York Airport</li>
      <li><i class="fa-solid fa-dollar-sign" ></i> 300 /hour</li>
    </ul>
    <button class="mt-1">More Details</button>
  </div>

  <div class="card mx-auto text-center">
    <img src="https://images.unsplash.com/photo-1604285861770-54cb117a3f5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="Product Image">
    <h2 class="mt-1">Cessna 172</h2>
    <p class="mt-1"><%= truncate("Skyhawk with traditional six pack. Lycoming IO-360 180HP fuel injected engine. 53 US gallons usable fuel capacity.", length: 50) %>
</p>
    <ul class="d-flex justify-content-center mt-2">
     <li><i class="fa-solid fa-location-dot" style="margin-right:6px"></i>New York Airport</li>
      <li><i class="fa-solid fa-dollar-sign" ></i> 300 /hour</li>
    </ul>
    <button class="mt-1">More Details</button>
  </div>


</div>
