<div class="container">


  <div class="row" data-controller="inquiry-selector">
    <div class="col-2" data-inquiry-selector-target="list">
      <% @inquiries.each do |inquiry| %>
        <%= link_to inquiry_path(inquiry), class: "text-decoration-none" do %>
          <div class="border-bottom mb-2"data-inquiry-selector-target="box" data-action="click->inquiry-selector#updateInquiry">
            <p>#<%= inquiry.airplane.make %></p>
            <% if inquiry.user == current_user %>
              <p> <%= inquiry.airplane.user  %></p>
            <% else %>
              <p> <%= inquiry.user  %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="row col-10" data-inquiry-selector-target="chat">

      <div class="col-6">
        <div class="container inquiry"
          data-controller="inquiry-subscription"
          data-inquiry-subscription-inquiry-id-value="<%= @inquiry.id %>"
        >
          <h2>#<%= @inquiry.airplane.make %></h2>

          <div class="messages" data-inquiry-subscription-target="messages">
          <% @inquiry.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
          </div>
          <%= simple_form_for [@inquiry, @message],
            html: { data: { action: "turbo:submit-end->inquiry-subscription#resetForm" }, class: "d-flex" } do |f|
          %>
            <%= f.input :content,
              label: false,
              placeholder: "Type here",
              wrapper_html: {class: "flex-grow-1"}
            %>
            <%= f.submit "Send", class: "btn btn-primary mb-3" %>
          <% end %>
        </div>
      </div>

      <div class="col-6">
        <% @airplane = @inquiry.airplane  %>
        <%# <%=  cl_image_tag @airplane.photos.first.key, height: 400, width: 600, crop: :fill  %>
        <p><%= @airplane.make %> <%= @airplane.engines %> <%= @airplane.tailnumber %> </p>
        <p><%= @airplane.user.nickname %></p>
        <%= link_to "View Plane", airplane_path(@airplane), class: "btn btn-dark mt-2 ms-5"%>
      </div>
    </div>
  </div>


</div>
