<div class="container justify-content-center mx-auto" style="margin-top: 50px;">

  <div class="row d-flex">

    <div class="col-2 chatbox-cards"style="height: 100vh; overflow-y: scroll;">
      <h1 class="border-blue-chat pb-2" style="color: #173288;">Chats</h1>
        <% if @inquiries %>
          <% @inquiries.each do |inquiry| %>
            <%= link_to inquiry_path(inquiry), class: "text-decoration-none inquiry-box" do %>
              <div class="border-blue-chat pt-2 <%= inquiry.messages.last.user == current_user ? '' : '' %> <%= inquiry == @inquiry ? '' : '' %> ">
                <p>#<%= inquiry.airplane.make %> w/
                <% if inquiry.user == current_user %>
                  <%= inquiry.airplane.user.name  %>
                <% else %>
                  <%= inquiry.user.name  %>
                <% end %> </p>
                <% if inquiry.messages.last.user != current_user %>
                  <p class="small danger">Awaiting your response</p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <script>
          // Scroll to the bottom of the chatbox-cards div
          const chatboxCards = document.querySelector('.chatbox-cards');
          chatboxCards.scrollTop = chatboxCards.scrollHeight;
        </script>
    </div>

    <div class="row col-10 chat-box-container h-100">

      <div class="col-7" style= "margin-left: 20px;">
        <div class="container container-messages inquiry chatbox-card" data-controller="inquiry-subscription" data-inquiry-subscription-inquiry-id-value="<%= @inquiry.id %>">
        <div class="d-flex flex-column">
        <h4 class= "p-2 mt-2 "><i class="fas fa-paper-plane"></i> <%= @inquiry.airplane.make %></h4>
          <p class="text-end me-3"><% if @inquiry.airplane.user == current_user %>
            <%= link_to "#{@inquiry.user.name}'s profile ", user_path(@inquiry.user), class: "small" %>
          <% else %>
            <%= link_to "#{@inquiry.airplane.user.name}'s profile ", user_path(@inquiry.airplane.user), class: "text-end"%>
          <% end %></p>
        </div>


          <div class="messages-box p-3" id="messages-box" data-inquiry-subscription-target="messages" style="height: 100vh; overflow-y: scroll;">
            <% @inquiry.messages.each do |message| %>
              <div class="message <%= message.user == current_user ? 'mine' : 'yours' %>">
              </div>
              <%= render "messages/message", message: message %>
            <% end %>

          </div>


          <%= simple_form_for [@inquiry, @message],
            html: { data: { action: "turbo:submit-end->inquiry-subscription#resetForm" }, class: "d-flex" },
            id: "message-form" do |f| %>
            <%= f.input :content,
                        label: false,
                        placeholder: "Type here",
                        wrapper_html: {class: "flex-grow-1"},
                        input_html: { autocomplete: "off", spellcheck: "false" } %>
            <%= f.submit "Send", class: "button-airplanes-inquiry mb-3", style: "padding: 0" %>
          <% end %>



        </div>
      </div>
      <div class="airplane-card col-3 flex-grow-1">
        <div class="card text-center d-flex flex-column">
                <% if @inquiry.airplane.photos.attached? %>
                    <img src="<%= cl_image_path @inquiry.airplane.photos[0].key, height: 350, width: 400, crop: :fill %>" alt="Product Image">
                <% else %>
                    <img src="https://images.unsplash.com/photo-1604285861770-54cb117a3f5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="Product Image">
                <% end %>

                <h2 class="mt-1"><%= "#{@inquiry.airplane.make} #{@inquiry.airplane.tailnumber}" %> </h2>

                <p class="mt-1"><%= truncate("#{@inquiry.airplane.description}", length: 50) %></p>
                  <ul class="d-flex justify-content-center mt-2">
                    <li><i class="fa-solid fa-location-dot" style="margin-right:6px"></i><%= @inquiry.airplane.home_airport.upcase %></li>
                    <li><i class="fa-solid fa-dollar-sign" ></i> <%= @inquiry.airplane.price_per_hour %> /hour</li>
                  </ul>
                  <%= link_to "More Details", airplane_path(@inquiry.airplane), class: "mt-1 button-airplanes" %>
              </div>
              <% if @inquiry.airplane.user == current_user && @inquiry.status == false %>
              <div class="ms-5 mt-4 text-center d-flex justify-content-center">
                <p class= "mt-3"> <%= simple_form_for [@inquiry] do |f| %>
                    <%= f.input :status, label: "Has #{@inquiry.user.name.capitalize} flown with you?", collection: [false, true] %>
                    <%= f.button :submit, class:"button-airplanes"%>
                    <% end %>
                </p>
              <% end %>
            </div>
            </div>
      </div>

    </div>
  </div>
  <script>
    var messagesBox = document.getElementById("messages-box");
    messagesBox.scrollTop = messagesBox.scrollHeight;
  </script>
</div>
