<!DOCTYPE html>
<html>
  <head>
    <title>Tangobravo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="page-container">
      <div>
          <%= render "shared/navbar"%>
      </div>
      <div id="content-wrap" style="margin-top:92px">
        <%= yield %>
      </div>
      <div>
        <%# <%= render "shared/footer" %>
      </div>
    </div>
  </body>
</html>
